*{
 box-sizing: border box;
 margin: 0;
 padding: 0;
 text-decoration: none;
 } 
 html{
   font-size: 11px;
 }
/*body*/

 .flex-container{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
 }
 body{
   
   background-image: url(./imagenes/portada\ 111.png);
   background-size: cover;
    background-repeat: no-repeat;
   }
   a{
    text-decoration: none;
   }
  
 
    /*section*/
     .nav{
          display: flex;
          justify-content: center;
          margin: 60px auto;
          width: 80%;
          height: 300px;
          }
      .navUno{
           width: 50%;
          display: flex; 
          justify-content: space-around;
       }
     .navDos{
          display: flex;
          justify-content: space-around;
          width: 40%;
         }
     .link{
      display: flex;
      display: inline-block;
     }
   .miLogo{
    display: flex;
    display: inline-block;
    margin-top: 1px;
    width: 300px;
    height: 300px;
   }
   .videos{ 
    display: flex;
    display: inline-block;
    margin-top: 65px;
    width: 170px;
    height: 170px;
 }
  .videos:hover{
    border-bottom: 2px solid  rgb(220, 199, 199);
    opacity: 0.8;
    }
  .grupo{
    margin-top: 60px;
    width: 175px;
    height: 175px;
    }
     .grupo:hover{
      border-bottom: solid 2px white;
      opacity: 0.8;
    }
  
   .twits{
    margin-top: 60px;
    width: 165px;
    height: 165px;
    }
     .twits:hover{
       border-bottom: solid 2px white;
       opacity: 0.8;
       }
       article{
        width: 80%;
        margin: 70px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
       }
       .stiker{
        border-radius: 50px;
        margin-right: 180px;
        margin-left: 180px;
        display: flex;
         width: 80px;
         height: 80px;
      }
      .stiker:hover{
        background-color: rgba(63, 63, 180, 0.527);
        border: 1px solid rgb(10, 72, 15);
        opacity: 0.5;
     }
    
    /*footer*/
     footer{
      position: absolute;
      bottom: 0;
      text-align: left;   
       }
       h2{
        color: rgb(6, 7, 9);
        font-size: 14px;
        padding: 5px 15px;
        margin-bottom: 0;
       background-color: rgba(160, 174, 214, 0.616);
       }
    /*responsive*/  
   @media (max-width:992px){
   
    body{
       background-image: url(./imagenes/portada\ 11.png),no-repeat, cover;
       width: 100%;
       height: 100vh
       }
       
     .nav{
    margin-top: 60px;
    height: 240px;
   }
    .navUno{
      height: 160px;
    }
    .navDos{
      height: 160px;
     }
    .link{
      display: flex;
      margin: 2px auto;
      display: inline-block;
   }
   .miLogo{
    width: 220px;
    height: 220px;
   }
  
    .videos{
      width:120px;
      height: 130px;
    }
    .grupo{
      width: 120px;
      height: 130px;
       }
       .twits{
        width: 120px;
        height: 130px;
      }
      article{
        width: 70%;
        margin: 120px auto;
        display: flex;
        justify-content: space-between;
       }
       .stiker{
        display: flex;
         width: 70px;
         height: 70px;
         margin-left:80px ;
      }
     }
  @media(max-width:768px){
    body{
       width: 100%;
       height: 768px;
     }
    body{
     background-image:url(./imagenes/768.png);
      width: 100%;
      height: 100vh;
      background-size: cover;
    }
    footer{
      position: absolute;
      bottom: 0;
      margin-top: 100px;
     }
    .nav{
      margin-top: 100px;
      height: 240px;
     }
     .miLogo{
      width: 200px;
      height: 200px;
     }
     .videos{
      width:100px;
      height: 100px;
    }
    .grupo{
      width: 100px;
      height: 100px;
       }
       .twits{
        width: 100px;
        height: 100px;
      }
      article{
        width: 60%;
        margin: 140px auto;
        display: flex;
        justify-content: space-between;
       }
       .stiker{
        margin-right: 30px;
        margin-left: 30px;
         width: 60px;
         height: 60px;
      }
   }
   @media(max-width:576px){
    body{
      background-image:url(./imagenes/768.png);
       width: 100%;
       height: 100vh;
       background-size: cover;
     }
     .nav{
      margin: 50px auto;
      height: 300px;
      display: flex;
      display: block;
     }
     .navUno{
      width: 95%;
      display: flex;
     }
    .navDos{
      height: 120px;
      width: 100%;
      display: flex;
    }
    .miLogo{
      width: 150px;
      height: 150px;
    }
    .videos{
      width:90px;
      height: 90px;
      margin-top: 40px;
    }
    .grupo{
      margin-top: 5px;
      width: 90px;
      height: 100px;
       }
       .twits{
       margin-top: 5px;
       width: 90px;
       height: 90px;
      }
       article{
        width: 60%;
        margin-top: 130px;
        display: flex;
        justify-content: space-between;
       }
   }
 
  
   

     
       
     
     
      
      
 

 
  

   
     

  
    
    






  


 



